.page-two, .page-three, .page-four, .page-five {
	background: white;
}
.page-one {
	color: white;
}

// First page
.hero-img {
	@include fullscreen;
	background-image: url("../img/waterfall-2.jpg");
	background-position: bottom center;
	display: flex;
	height: 100%;
	justify-content: center;
}

// Fourth page
.page-four {
	@include fullscreen;
	background-image: url("../img/road.jpg");
	height: 100vh;
}

// Fifth page
.page-five {
	@include fullscreen;
	background-image: url("../img/kea.jpg");
	background-position: bottom left;
	height: 100vh;
}
