$scale--7: 10.14rem; // 101px
$scale--6: 6.34rem; // 64px
$scale--5: 5.072rem; // 50px
$scale--4: 3.593rem; // 35px
$scale--3: 2.536rem; // 25 px
$scale--2: 2.113rem; // 21 px
$scale--1: 1.691rem; // 16px


.heading-one {
	font-size: $scale--4;
	color: white;
	text-align: center;
}
.heading-two {
	font-size: $scale--3;
	font-weight: 400;
}
.para__intro {
	color: white;
	font-size: $scale--1;
}
