@import 'base';
@import 'layout';
@import 'type';
@import 'pages';

// MAJOR SECTIONS
.white-bg {
	background: white;
}
// REPEATED ELEMENTS
.content-section:first-child {
	background-color: transparent;
}

.user-form {
	font-size: $scale--1;
}

.user-input {
	background: $color__grey--light;
	border: none;
	padding: 1rem;
	margin-bottom: 1.5rem;
	width: 100%;
	font-weight: 300;
	&:focus {
		border-bottom-color: blue;
	}
}

// BUTTONS
.btn {
	border-radius: 80%;
	border: none;
}
.btn-primary {
	width: 4rem;
	height: 4rem;
	background: $color__primary;
}
.btn-secondary {
	width: 3rem;
	height: 3rem;
	background: $color__grey--light;
	color: black;
	font-weight: 900;
	font-size: 1.5rem;
}
.btn-container {
	position: absolute;
	bottom: 2rem;
	// width: 100%;
	justify-content: flex-end;

}




#map {
	width: 100%;
	margin: 0 auto;
	height: 78vh;
}
// SECOND PAGE END
